<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjoeun.ilsan.board.sql.BoardMapper">
	
	<!-- 게시글 업로드 -->
	<insert id="uploadBoard" parameterType="map" useGeneratedKeys="true" keyProperty="seq">
	    INSERT INTO board(
	        member_id, title, price, content, address, category, latitude, longitude, img1
	        <if test="img2 != null and img3 != ''">, img2</if>
	        <if test="img3 != null and img3 != ''">, img3</if>
	        <if test="img4 != null and img4 != ''">, img4</if>
	        <if test="img5 != null and img5 != ''">, img5</if>
	        <if test="img6 != null and img6 != ''">, img6</if>
	        <if test="img7 != null and img7 != ''">, img7</if>
	        <if test="img8 != null and img8 != ''">, img8</if>
	        <if test="img9 != null and img9 != ''">, img9</if>
	        <if test="img10 != null and img10 != ''">, img10</if>
	    ) VALUES (
	        #{member_id}, #{title}, #{price}, #{content}, #{address}, #{category}, #{latitude}, #{longitude}, #{img1}
	        <if test="img2 != null and img2 != ''">, #{img2}</if>
	        <if test="img3 != null and img3 != ''">, #{img3}</if>
	        <if test="img4 != null and img4 != ''">, #{img4}</if>
	        <if test="img5 != null and img5 != ''">, #{img5}</if>
	        <if test="img6 != null and img6 != ''">, #{img6}</if>
	        <if test="img7 != null and img7 != ''">, #{img7}</if>
	        <if test="img8 != null and img8 != ''">, #{img8}</if>
	        <if test="img9 != null and img9 != ''">, #{img9}</if>
	        <if test="img10 != null and img10 != ''">, #{img10}</if>
	    )
	</insert>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoard" resultType="map">
		select
			seq
			, member_id
			, title
			, price
			, content
			, address
			, category
			, del_yn
			, soldout_yn
			, buyer_id
			, create_date
			, update_date
			, delete_date
			, view_cnt
			, like_cnt
			, img1
			, img2
			, img3
			, img4
			, img5
			, img6
			, img7
			, img8
			, img9
			, img10
			, latitude
			, longitude
		FROM board
		WHERE 1+1
		AND	del_yn = 'n'
		<if test="seq != null">
       		AND seq = #{seq}
    	</if>
    	<if test="soldout_yn != null">
       		AND soldout_yn = #{soldout_yn}
    	</if>
    	<if test="category != null">
       		AND category = #{cateogry}
    	</if>
    	ORDER BY create_date DESC
    	<if test="limit != null">
	    	LIMIT #{limit}
    	</if>
	</select>
	
	<!-- 게시글 리스트 조회 메인화면 -->
	<select id="selectBoardList" resultType="map">
		SELECT a.*
		FROM (
			    SELECT
			        seq,
					member_id,
					title,
					price,
					content,
					address,
					category,
					del_yn,
					soldout_yn,
					buyer_id,
					create_date,
					update_date,
					delete_date,
					view_cnt,
					like_cnt,
					img1,
					img2,
					img3,
					img4,
					img5,
					img6,
					img7,
					img8,
					img9,
					img10,
					latitude AS latitude,
					longitude AS longitude,
			        ROUND(
			            6371 * acos(
			                cos(radians(#{userLatitude})) * cos(radians(latitude)) *
			                cos(radians(longitude) - radians(#{userLongitude})) +
			                sin(radians(#{userLatitude})) * sin(radians(latitude))
			            ), 2
			        ) AS distance
			      
			    FROM board
		) a
	    WHERE 1 + 1
	    <!-- 게시물 삭제가 아닌 것 -->
	    AND a.del_yn = 'n'
	    <!-- 거리가 파람 이상 인것 -->
		<if test="null != soldout_yn and soldout_yn != ''">
			AND soldout_yn = #{soldout_yn}
		</if>
		<!-- 거리가 파람 이상 인것 -->
		<if test="null != distance_from and distance_from != ''">
			AND #{distance_from} <![CDATA[ <= ]]> a.distance
		</if>
		<!-- 거리가 파람 이내 인것 -->
		<if test="null != distance_to and distance_to != ''">
			AND #{distance_to} <![CDATA[ >=  ]]> a.distance
		</if>
		
	    <!-- order 값에 따라 동적으로 정렬 -->
	    <if test="order != null and order != ''">
		    ORDER BY ${order}
		    <if test="order_desc != null and order_desc != ''">
		        ${order_desc}
		    </if>
		    <if test="order2 != null and order2 != ''">
		        , ${order2}
		    </if>
		    <if test="order_desc2 != null and order_desc2 != ''">
		        ${order_desc2}
		    </if>
		</if>
		 <if test="order == null or order == ''">
	        ORDER BY a.create_date DESC
	    </if>
		
		<!-- limit -->
	    <if test="limit != null or limit != ''">
	        LIMIT #{limit}
	    </if>
	</select>

	
	
	
	
	<!-- 게시글 검색 조회 (페이징 처리 포함) -->
	<select id="searchBoardList" resultType="map">
	    SELECT
	        seq,
	        member_id,
	        title,
	        price,
	        content,
	        address,
	        category,
	        del_yn,
	        soldout_yn,
	        buyer_id,
	        create_date,
	        update_date,
	        delete_date,
	        view_cnt,
	        like_cnt,
	        img1,
	        img2,
	        img3,
	        img4,
	        img5,
	        img6,
	        img7,
	        img8,
	        img9,
	        img10,
	        latitude,
			longitude
	    FROM board
	    WHERE del_yn = 'n'
	    <if test="soldout_yn != null">
	        AND soldout_yn = #{soldout_yn}
	    </if>
       	<if test="seller_id != null">
       		AND member_id = #{seller_id}
    	</if>
	    <if test="category != null">
	        AND category = #{category}
	    </if>
	    <if test="title != null and title != ''">
	        AND title LIKE CONCAT('%', #{title}, '%')
	    </if>
	    ORDER BY create_date DESC
	    <if test="limit != null">
	        LIMIT #{limit}
	        <if test="offset != null">
	            OFFSET #{offset}
	        </if>
	    </if>
	</select>
	
	<!-- 게시글 총 레코드 수 조회 -->
	<select id="selectBoardCount" resultType="int">
	    SELECT COUNT(*) FROM board
	    WHERE del_yn = 'n'
	    <if test="soldout_yn != null">
	        AND soldout_yn = #{soldout_yn}
	    </if>
	    <if test="seller_id != null">
       		AND member_id = #{seller_id}
    	</if>
	    <if test="category != null">
	        AND category = #{category}
	    </if>
	    <if test="title != null and title != ''">
	        AND title LIKE CONCAT('%', #{title}, '%')
	    </if>
	</select>
	
	<!-- 조회수 증가시키기 -->
	<update id="increaseViewCount" parameterType="int">
	    UPDATE board
	    SET view_cnt = view_cnt + 1
	    WHERE seq = #{seq}
	</update>
	
	<!-- like 상태 확인 -->
	<select id="checkLikeStatus" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM interest
        WHERE seq = #{seq}
        AND member_id = #{member_id}
    </select>
    
    <!-- 좋아요 추가 -->
    <insert id="addLike" parameterType="map">
        INSERT INTO interest (seq, member_id)
        VALUES (#{seq}, #{member_id})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="cancelLike" parameterType="map">
        DELETE FROM interest
        WHERE seq = #{seq}
        <if test="member_id != null">
        	AND member_id = #{member_id}
    	</if>
    </delete>
    
   	<!-- 게시글 판매완료 처리 -->
    <update id="soldout" parameterType="int">
        UPDATE board
        SET soldout_yn = 'y'
        WHERE seq = #{seq}
    </update>
    
    <!-- 게시글 삭제 처리 -->
    <update id="deleteBoard" parameterType="int">
        UPDATE board
        SET del_yn = 'y'
        WHERE seq = #{seq}
    </update>
    
    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="map" useGeneratedKeys="true" keyProperty="seq">
		UPDATE board
		SET
		title = #{title},
		price = #{price},
		content = #{content},
		address = #{address},
		category = #{category},
		latitude = #{latitude},
		longitude = #{longitude}
		            
		WHERE seq = #{seq}
	</update>
	    
    
</mapper>