<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjoeun.ilsan.member.sql.MemberMapper">
	
	<!-- 로그인 아이디 비밀번호 확인 -->
	<select id="checkLogin" resultType="map" parameterType="map">
		SELECT
			member_id
			,member_pw
		 FROM member_info
		 where
		 	member_id = #{id}
		and member_pw = #{password}
	 	and member_del = 'n'
	</select>
	
	<!-- 소셜 회원 가입여부 확인 -->
	<select id="checkSocialMember" resultType="map" parameterType="map">
		 SELECT 
	        seq,
	        member_id,
	        member_pw,
	        member_name,
	        member_phone,
	        member_email,
	        member_addr1,
	        member_addr2,
	        member_addr3,
	        member_place,
	        member_del,
	        member_join_date,
	        latitude,
	        longitude
	    FROM member_info
	    WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="joinMembership" parameterType="map">
		insert into member_info(
			member_id
		    ,member_pw
		    ,member_name
		    ,member_phone
		    ,member_email
		    ,member_addr1
			,member_addr2
			,member_addr3
			,latitude
			,longitude
		) values (
			#{member_id}
		    ,#{member_pw}
		    ,#{member_name}
		    ,#{member_phone}
		    ,#{member_email}
		    ,#{member_addr1}
		    ,#{member_addr2}
		    ,#{member_addr3}
		    ,#{latitude}
		    ,#{longitude}
		)
	
	</insert>
	
	<!-- 회원가입 아이디, 이메일  확인 -->
	<select id="checkDuplication" resultType="map" parameterType="map">
		SELECT
			<if test="member_id != null">
				member_id
			</if>
			<if test="member_email != null">
				, member_email
			</if>
			<if test="member_phone != null">
				, member_phone
			</if>
		 FROM member_info
		 where
		 	1+1
 			<if test="member_id != null">
		 		and member_id = #{member_id}
			</if>
 			<if test="member_email != null">
		 		and member_email = #{member_email}
			</if>
 			<if test="member_phone != null">
		 		and member_phone = #{member_phone}
			</if>
	</select>
	
	<!-- id로 회원정보 가져오기 -->
	<select id="getMemberInfoById" resultType="map" parameterType="string">
	    SELECT 
	        seq,
	        member_id,
	        member_pw,
	        member_name,
	        member_phone,
	        member_email,
	        member_addr1,
	        member_addr2,
	        member_addr3,
	        member_place,
	        member_del,
	        member_join_date,
	        latitude,
	        longitude
	    FROM member_info
	    WHERE member_id = #{member_id}
		<if test="member_pw != null">
		    AND member_pw = #{member_pw}
	    </if>
	</select>
	
	<!-- 회원 정보 수정 & 탈퇴 -->
	<update id="updateMemberInfo" parameterType="map">
	    <choose>
	        <when test="member_del != null">
	            <!-- member_del 값이 주어진 경우에만 해당 필드를 업데이트 -->
	            update member_info
	            set
	                member_del = #{member_del}
	            where member_id = #{member_id}
	        </when>
	        <otherwise>
	            <!-- member_del 값이 주어지지 않은 경우 다른 필드들을 업데이트 -->
	            update member_info
	            set
	                member_pw = #{member_pw},
	                member_name = #{member_name},
	                member_phone = #{member_phone},
	                member_email = #{member_email},
	                member_addr1 = #{member_addr1},
	                member_addr2 = #{member_addr2},
	                member_addr3 = #{member_addr3},
	                latitude = #{latitude},
	                longitude = #{longitude}
	            where member_id = #{member_id}
	        </otherwise>
	    </choose>
	</update>
	
	<!-- ID, PW 찾기 -->
	<select id="findAccount" resultType="map" parameterType="map">
	    SELECT
	    	member_id,
	    	member_pw,
	    	member_email
	    FROM member_info
	    WHERE member_email = #{member_email}
	    	AND member_del = 'n'
	 	<if test="member_name != null and member_id != null">
       		AND (member_name = #{member_name} OR member_id = #{member_id})
	    </if>
	    <if test="member_name != null and member_id == null">
	        AND member_name = #{member_name}
	    </if>
	    <if test="member_name == null and member_id != null">
	        AND member_id = #{member_id}
	    </if>
	</select>


</mapper>